* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dropper {
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px;
    height: 400px;
}

.error {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.success {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: green;
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}